<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordovaplugincommandsexecutor" version="0.1.0">
   <name>CommandsExecutor</name>
   <js-module name="CommandsExecutor" src="www/CommandsExecutor.js">
      <clobbers target="navigator.commandsExecutor" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="CommandsExecutor">
            <param name="android-package" value="cordovaplugincommandsexecutor.CommandsExecutor" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/CommandsExecutor.java" target-dir="src/cordovaplugincommandsexecutor/CommandsExecutor" />
   </platform>
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="CommandsExecutor">
            <param name="ios-package" value="CommandsExecutor" />
         </feature>
      </config-file>
      <source-file src="src/ios/CommandsExecutor.m" />
   </platform>
</plugin>